{% extends 'base.html' %}

{% block main_content %}
  <div class="sm:container sm:mx-auto">
    <h2 class="text-3xl text-red-600 font-bold text-center">This is User Profile</h2>
    <h2 class="text-xl">User Account: {{ user_account }}</h2>
    {% if user_account %}
      {% for account in user_account %}
        <p>{{ account.balance }}</p>
      {% endfor %}
    {% else %}
      <p>User Account Not Found!!</p>
    {% endif %}
  </div>
  {% if all_borrow %}
    <div class="sm:container sm:mx-auto">
      <div class="overflow-x-auto border-2">
        <table class="table table-xs">
          <thead class="text-lg font-semibold">
            <tr>
              <th>SL.</th>
              <th>Title</th>
              <th>Author</th>
              <th>Borrow Time</th>
              <th>Borrow Price</th>
              <th>Current Balance</th>
              <th>Return Pay</th>
            </tr>
          </thead>
          <tbody>
            {% for borrow in all_borrow %}
              <tr>
                <th>{{ borrow.id }}</th>
                <td>
                  <a href="{% url 'book_detail' borrow.book.title borrow.book.id %}">{{ borrow.book.title }}</a>
                </td>
                <td>{{ borrow.book.author }}</td>
                <td>{{ borrow.borrow_at }}</td>
                <td>{{ borrow.book.price }}</td>
                <td>{{ borrow.user.account.balance }}</td>
                <td>
                  <a class="btn btn-xs btn-outline btn-primary" href="{% url 'return_pay' borrow.id %}">Return Book</a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  {% endif %}
{% endblock %}
